h1,h2{font-size: 25pt; color: aquamarine;font-family: "휴먼편지체"}
    strong,em{font-size: 15pt; font-style: italic; color: yellow;font-family: "궁서체"}
    li{font-size: 18pt; font-weight: bold; color: pink;font-family: "휴먼매직체"}