<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hj.mapper.BoardMapper">
	<!-- 페이징 처리 안한 list -->
	<select id="list" resultType="org.hj.domain.BoardVO">
		select * from tbl_board
		order by bno
		desc
	</select>

	<!-- 페이징 처리한 list -->
	<select id="getlistWithPaging"
		resultType="org.hj.domain.BoardVO">

		select *
		from (
		select @rownum:=@rownum+1 as rownum, b.*
		from (select
		@rownum:=0) as rownumTable, tbl_board b

		<choose>
			<when test="type == 'T'.toString()">
				where title like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'C'.toString()">
				where content like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'W'.toString()">
				where writer like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TC'.toString()">
				where title like concat('%',#{keyword},'%')
				or content
				like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TW'.toString()">
				where title like concat('%',#{keyword},'%')
				or writer
				like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TWC'.toString()">
				where title like concat('%',#{keyword},'%')
				or writer
				like concat('%',#{keyword},'%')
				or content like
				concat('%',#{keyword},'%')
			</when>
		</choose>
		order by bno desc
		) as rownumBoardList
		<![CDATA[
		where rownum > (#{pageNum} - 1) * 10 and rownum <= (#{pageNum} * 10)
		]]>
	</select>
	<!-- tbl_board 테이블 전체 건수 -->
	<select id="getTotalCount" resultType="int">
		select count(*)
		from tbl_board
		<choose>
			<when test="type == 'T'.toString()">
				where title like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'C'.toString()">
				where content like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'W'.toString()">
				where writer like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TC'.toString()">
				where title like concat('%',#{keyword},'%')
				or content
				like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TW'.toString()">
				where title like concat('%',#{keyword},'%')
				or writer
				like concat('%',#{keyword},'%')
			</when>
			<when test="type == 'TWC'.toString()">
				where title like concat('%',#{keyword},'%')
				or writer
				like concat('%',#{keyword},'%')
				or content like
				concat('%',#{keyword},'%')
			</when>
		</choose>
	</select>


	<select id="read" parameterType="int"
		resultType="org.hj.domain.BoardVO">
		select *
		from tbl_board
		where bno = #{bno}

	</select>
	<update id="update">
		update tbl_board
		set title = #{title},
		content =
		#{content},
		updatedate = sysdate()
		where bno = #{bno}
	</update>
	<delete id="delete">
		delete from tbl_board
		where bno = #{bno}
	</delete>
	<insert id="insert">
		insert into tbl_board(title, content, writer)
		values
		(#{title}, #{content}, #{writer})
	</insert>

</mapper>